html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* adds styles to skip links */
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus{
	top: 0;
  }

/* adds image to mobile background */ 
.banner{
    background-image: url("../images/beveridge_homem412.jpg");
	background-size:cover;
	background-position: center;
	height:916px;
	width: 100%;
}

 /* removes image logo on mobile */
.brand-a{
	display: none;
}

/* Makes nav transparent */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
	
}

/* Nav styles */
.navbar-toggler{
	background-color: rgb(83, 70, 60);
}

.navbar-toggler-icon{
	background-color: rgba(83, 70, 60) ;
	border-radius: 10%;
	color: white;
	
}

.navbar-nav{
	position: relative;
    --bs-nav-link-color:white;
	--bs-navbar-active-color: white;
	font-family: comfortaa;
	background-color: #655243;
	border-radius: 10px;
	
}

.navbar-expand-sm {
	text-align: center;
	
	
}

.nav-link:active{
	color: rgba(169,146,127,1);
}

.nav-link:hover{
	
	background:linear-gradient(90deg, rgba(169,146,127,1) 0%, rgba(223,223,223,1) 100%);
	border-radius: 10px;
}


/* adds background color to about, contact and web pages */
.container-about{
	background-color:#606962;
}

.container-contact{
	background-color:#606962;
}

.container-web{
	background-color:#606962;
}

/* heading styles */ 
.h1{
	font-family:poiret one;
	
}

.h1-web{
	font-family: poiret one;
	color: white;
	margin-bottom: 50px;
	
}

.h2{
	font-family: poiret one;
}

.heading-b{ 
	display: none;
} 



/* about page styles */

.heading-a{ 
	display: none;
}

.about{
	background:linear-gradient(90deg, rgba(169,146,127,1) 0%, rgba(223,223,223,1) 100%);
	padding-top: 100px;
	padding-bottom: 100px;
}



.about-pic{
	margin-top: 50px;
}


.aboutp {
	
	font-family: comfortaa;
	color: white;
	margin-top: 50px;
	line-height: 2.0;
	
	
}

/* contact page styles */

.imglogo{ 
	position: relative;
	top: 10%;
	
	
}

.imga{
	position: absolute;
	bottom: 0;
}

.form-label{
	font-family: comfortaa;
	color:white;
	margin-top: 20px;
}

.btn-primary{
	font-family: comfortaa;
	color:#606962;
	background:linear-gradient(90deg, rgba(169,146,127,1) 0%, rgba(223,223,223,1) 100%) ;
	--bs-btn-hover-bg: rgba(223,223,223,1);
	--bs-btn-border-color: rgba(223,223,223,1);
	--bs-btn-hover-color:white;
	
	
}


.pic-1{
	width: 100%;
	height: auto;
}

.pic-4{
	width: 100%;
	height: auto;
}

.photo{
	width: 100%;
}


/* footer styles */
footer{
	color: white;
	margin-left: 20px;
}

/* desktop styles */
@media screen and (min-width: 992px) {

	/* adds banner to desktop home page */
	.banner{	
		background-image: url("../images/beveridge_homed-1920.jpg");
	}

	/* displays logo on desktop */
	.brand-a{
		display: inline-block;
	}
	
	/* displays logo and positions on home page */
	.logo-1{ 
		position: relative;
		top: 20%;
		left: 75%;
	}
	
	/* heading styles and positons */
	.heading-a{ 
		display: block;
		color: white;
		position: absolute;
		top: 60%;
		left: 75%;
	}

	 .heading-b{ 
		color: white;
		position:absolute;
		top:67%;
		left:77%;

	} 

	/* about page styles  */
	.about{
		background:linear-gradient(90deg, rgba(169,146,127,1) 0%, rgba(223,223,223,1) 100%);
		margin-top: 0px;
		padding-top: 275px;
		padding-bottom: 275px;
		max-width: 75%;
		margin-left: 13%;
		
	}
	
	.aboutp {
		color: white;
		margin-top: 250px;
	}

	.about-pic{
		margin-top: 150px;
		max-width: 75%;
		margin-left: 13%;
		border-radius: 20%;
	}

	/* image styles for web dev page */
	.pic-1{
		border-radius: 1%;
	}
	
	.pic-2{
		border-radius: 1%;
	}
	
	.pic-3{
		margin-top: 10px;
		border-radius: 1%;
	}

	.pic-4{
		border-radius: 1%;
	}

	
	




}